<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>remove</title>
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script>

	$(function(){
		
		$("#confirmDelete").keyup(function(){
			
			/*
			
				# javascript에서 session 객체표현법 > [[${session.세션명}]]
			
				html 	   > ${session.세션명}
				javascript > [[${session.세션명}]]
			
			*/
			
			if ("[[${session.memberId}]]/탈퇴" == $(this).val()) {
				$("[type='submit']").prop("disabled" , false);
			}
			else {
				$("[type='submit']").prop("disabled" , true);
			}
				
		});
		
		
	});
	
</script>
</head>
<body>

	<div align="center">
		<h3>회원탈퇴 </h3>
		<p><span style="color:red;">정말 탈퇴하시겠습니까?</span></p>
		<form th:action="@{/member/delete}" method="post" >
			<p>진한 글씨(<strong th:text="|${session.memberId}/탈퇴|"></strong>)를 입력하세요.</p>
			<p><input type="text" id="confirmDelete" /></p>
			<p>
				<input type="submit" value="탈퇴하기" disabled />
				<input type="button" value="취소" th:onclick="|location.href='@{/member/main}'|" />
			</p>
		</form>
	</div>

</body>
</html>